<a href="https://colab.research.google.com/github/Navyasri1308/Navyasri-1308/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=5
b=7.09
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=10
b=6
print('addition:',a+b)
print('subtraction:',a-b)
print('multiplication:',a*b)
print('division:',a/b)

addition: 16
subtraction: 4
multiplication: 60
division: 1.6666666666666667

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
x="123"
print(int(x))
print(float(x))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
user_input=input("enter any string:")
words=user_input.split
user_input[0]

enter any string:navya

'n'

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
user_input=input("enter any string")
words=user_input.split
print(len(user_input))

enter any stringmanu
4

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
ini_str="navya"
print('initial string is:',ini_str)
if ini_str.isalpha():
     print("string contains only alphabets")
else:
         print("string doesn't contains only alphabets")

initial string is: navya
string contains only alphabets

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
user_input1=input("enter any string: ")
user_input2=input("enter another string: ")
res=user_input1+user_input2
print("concatenation of 2 strings are:",res)

enter any string: hello
enter another string: world
concatenation of 2 strings are: helloworld

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
user_input1=input("enter any string:")
user_input2=input("enter the substring:")
index=user_input1.find(user_input2)
print(index)

enter any string:abcdef
enter the substring:abc
0

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
s="Hello world"
res=s.upper()
res1=s.lower()
print(res)
print(res1)

HELLO WORLD
hello world

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
user_input1=input("enter any string:")
user_input2=input("enter any character:")
count=user_input1.count(user_input2)
print(count)

enter any string:mom
enter any character:m
2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
user_input=input("enter your name:")
print(f"hello,{user_input},good morning")

enter your name:navya
hello,navya,good morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum_result = num1 + num2
print(f"The sum of {num1} and {num2} is: {sum_result}")

Enter the first number: 6.7
Enter the second number: 4.009
The sum of 6.7 and 4.009 is: 10.709

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("enter your name:")
age=input("enter your age")
print(f"hi {name},your age is {age}")

enter your name:manu
enter your age4
hi manu,your age is 4

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=float(input("enter number"))
if num>0:
  print("number is positive")
elif num<0:
  print("number is negative")
else:
  print("number is zero")

enter number66.9
number is positive

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
max_num=max(num1,num2,num3)
print(f"the maximum number is {max_num}")

Enter the first number: 3
Enter the second number: 6
Enter the third number: 9
the maximum number is 9.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("enter any year:"))
if (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"the {year} is not a leap year ")

enter any year:2024
the 2024 is not a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
number = int(input("Enter a number: "))
if number % 3 == 0 and number % 5 == 0:
  print(f"{number} is divisible by both 3 and 5.")
else:
    print(f"{number} is not divisible by both 3 and 5.")

Enter a number: 665
665 is not divisible by both 3 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
string = input("Enter a string: ")
if string == string[::-1]:
    print(f"'{string}' is a palindrome.")
else:
    print(f"'{string}' is not a palindrome.")

Enter a string: mam
'mam' is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
number = 2
while number <= 20:
  print(number)
  number += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number = int(input("Enter a number to print its multiplication table: "))
for i in range(1, 11):
  print(f"{number} x {i} = {number*i}")

Enter a number to print its multiplication table: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number: "))
sum_of_numbers = 0
i = 1
while i <= n:
    sum_of_numbers += i
    i += 1
    print(f"The sum of all numbers from 1 to {n} is: {sum_of_numbers}")

Enter a number: 1
The sum of all numbers from 1 to 1 is: 1

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
number = int(input("Enter a number to calculate its factorial: "))
factorial = 1
if number == 0 or number == 1:
    factorial = 1
else:
  while number > 1:
        factorial *= number
        number -= 1
        print(f"The factorial is: {factorial}")

Enter a number to calculate its factorial: 5
The factorial is: 5
The factorial is: 20
The factorial is: 60
The factorial is: 120

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
for number in range(1, 101):
     if is_prime(number):
        print(number, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
numbers = [10, 20, 33, 40, 50, 68, 70, 80]
for num in numbers:
    print(f"Checking number: {num}")
    if num > 50:
        print(f"Found a number greater than 50: {num}. Breaking out of the loop.")
        break

Checking number: 10
Checking number: 20
Checking number: 33
Checking number: 40
Checking number: 50
Checking number: 68
Found a number greater than 50: 68. Breaking out of the loop.

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
char = input("Enter the character to count: ")
count = 0
for ch in string:
    if ch == char:
        count += 1
print(f"The character '{char}' appears {count} times in the string.")

Enter a string: wow
Enter the character to count: w
The character 'w' appears 2 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10
print(f"The sum of the digits is: {sum_of_digits}")

Enter a number: 555
The sum of the digits is: 15

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

numbers = [10, 20, 30, 40, 50]
total_sum = sum(numbers)
print(f"The sum of the elements in the list is: {total_sum}")

The sum of the elements in the list is: 150

In [ ]:
# Write a Python program to find the largest element in a list.
A = [10, 20, 30, 40, 50]
largest_element = max(A)
print(f"The largest element in the list is: {largest_element}")

The largest element in the list is: 50

In [ ]:
# Write a Python program to reverse a list.
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [10, 20, 30, 20, 40, 20, 50]
element_to_remove = 20
numbers = [num for num in numbers if num != element_to_remove]
print("Updated list:", numbers)

Updated list: [10, 30, 40, 50]

In [ ]:
# Write a Python program to find the index of an element in a list.
numbers = [10, 20, 30, 40, 50]
element_to_find = 30
index = numbers.index(element_to_find)
print(f"The index of {element_to_find} is: {index}")

The index of 30 is: 2

In [6]:
# Write a Python program to find if a specific element exists in a list.
a=[1,2,4,7,10]
element=int(input("enter any number:"))
if element in a :
  print("the specific element exists in a list is:")
else:
  print("the specific element not exists in a list ")

enter any number:44
the specific element not exists in a list

In [ ]:
# Write a Python program to remove duplicates from a list.

In [ ]:
# Write a Python program to count the occurrences of an element in a list.

In [ ]:
# Write a Python program to get the number of even numbers in a list.

In [ ]:
# Write a Python program to create a tuple and print it.

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.

In [ ]:
# Write a Python program to unpack a tuple into variables.

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [ ]:
# Write a Python program to check if a key exists in a dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`